$Fondo: rgb(255, 255, 255);
$Titulos: rgb(0, 0, 0);
$Ford-Primary: #1a3661;
$Ford-Secundario: #4c81cf;
$tamaño-imagen-cards: 150px;

.contenedorTexto{
    margin-top: 20vh;
    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        border-bottom: 1px solid $Titulos;
        color: $Titulos;
        font-size: 3em;
        margin-bottom: 30px;
    }
    .container-fluid{
        margin-top: 15vh;
    }
}

.botonera{
    font-size: 1.4em !important;
}

.imgClass{
    box-shadow: 10px 10px 27px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 27px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px -9px rgba(0,0,0,0.75);
}

.ContMain{

}